@page "/measure"
@rendermode InteractiveServer
@using Core.Entities
@inject NavigationManager Navigation
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizerFactory LocalizerFactory


<button class="btn btn-primary" @onclick="GoBack">
    @L["Back"]
</button>

<h3 style= "text-align: center; font-weight: bold; font-size: 2em; margin-top: 40px;">
    @L["Measures"]
</h3>

<AuthorizeView>
    <Authorized Context="auth">
        <EditForm Model="currentMeasure" OnValidSubmit="SaveMeasure" FormName="measureForm">
            <div class="mb-3">
                <label>@L["Name"]</label>
                <InputText class="form-control" @bind-Value="currentMeasure.name" />
            </div>

            <div class="mb-3">
                <label>@L["Unit of measurement"]</label>
                <InputText class="form-control" @bind-Value="currentMeasure.symbol" />
            </div>

            <button class="btn btn-primary" type="submit">
                @(isEditMode ? L["Update"] : L["Create"])
            </button>

            @if (isEditMode)
            {
                <button class="btn btn-secondary ms-2" type="button" @onclick="CancelEdit">
                    @L["Cancel"]
                </button>
            }
        </EditForm>
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert @(success ? "alert-success" : "alert-danger") mt-2">
                    @message
                </div>
            }
    </Authorized>
</AuthorizeView>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>@L["Name"]</th>
            <th>@L["Unit of measurement"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in measures)
        {
            <tr>
                <td>@m.name</td>
                <td>@m.symbol</td>
                <td>
                    <AuthorizeView Context="auth">
                        <Authorized>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditMeasure(m)">@L["Edit"]</button>
                            <button class="btn btn-danger btn-sm ms-1" @onclick="() => DeleteMeasure(m)">@L["Delete"]</button>
                        </Authorized>
                    </AuthorizeView>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IStringLocalizer L = default!;

    protected override void OnInitialized()
    {
        L = LocalizerFactory.Create(
            "SharedResources",
            typeof(SharedResources).Assembly.GetName().Name!
        );
    }
}