@page "/recipe-view/{RecipeId:int}"
@using Core.Entities
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Authorization

<h2>@RecipeName</h2>
<div>
    @*
    <h3>Ingredientes</h3>
    <li>
        @foreach(var ingredient in recipeIngredients)
        {
            <div>
                <h4>@ingredient.IngredientName</h4>
                <p>Cantidad: @ingredient.Quantity @ingredient.MeasureName</p>
            </div>
        }
    </li>*@
    <div>
        <h3>Pasos</h3>
        <li>
            @foreach(var step in steps)
            {
                <div>
                    <h4>@step.Name</h4>
                    <p>@step.Description</p>
                    <p>Duración: @step.Duration</p>
                    @if(!string.IsNullOrEmpty(step.imageURL))
                    {
                        <img src="@step.imageURL" alt="@step.Name" width="200" />
                    }
                </div>
            }
        </li>
    </div>
</div>