@page "/recipe-view/{RecipeId:int}"
@using Core.Entities
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Authorization

<h2>@RecipeName</h2>
<div>
    
    <h3>Ingredientes</h3>
    <ul>
        <li>
            @foreach(var ingredient in recipeIngredients)
            {
                <div>
                    <h4>@ingredient.ingredient</h4>
                    <p>Cantidad: @ingredient.amount @ingredient.measure</p>
                </div>
            }
        </li>
    </ul>
    <div>
        <h3>Pasos</h3>
        <ul class="list-group">
            @foreach(var step in steps)
            {
                <li class="list-group-item">
                    <div>
                        <h4>@step.Name</h4>
                        <p>@step.Description</p>
                        <p>Duración: @step.Duration m</p>
                        @if(!string.IsNullOrEmpty(step.imageURL))
                        {
                            <img src="@step.imageURL" alt="@step.Name" width="200" />
                        }
                    </div>
                </li>
            }

        </ul>
    </div>
</div>