@page "/auth/login"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Authorization


<div class="formLogin">
    <form>
        <EditForm Model="@user"> 
            <DataAnnotationsValidator/>
            <div class="form-group d-flex flex-column">
                <h3>@L["Login"]</h3>
                <label for="">@loading</label>
                <label>
                    <span>@L["Email"]</span>
                    <InputText class="form-control" @bind-Value="user.email" />
                    <ValidationMessage For="() => user.email" class="alert alert-danger" id="Alert"/>
                </label>
                <label>
                    <span>@L["Password"]</span>
                    <InputText class="form-control" @bind-Value="user.password" />
                    <ValidationMessage For="() => user.password" class="alert alert-danger" id="Alert" />
                </label>
            </div>
        </EditForm> 

    </form>
        <div class="btn-group" role="group" aria-label="Basic example" style="padding-right: 10px;">
            <button class="btn btn-secondary" @onclick=LoginUser >@L["Login"]</button>
            <button class="btn btn-secondary" @onclick=Clear >@L["Clean"]</button>
        </div>

        <div class="@messageClass" role="alert">
            <h4>@message</h4>
        </div>

</div>