@inject NavigationManager NavigationManager
@inject TokenContainer tokenContainer
@using Blazored.SessionStorage
@using Microsoft.AspNetCore.Components.Authorization
@using System.Runtime.InteropServices
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BrosRecipes</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

       <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Dashboard">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Principal
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/create-recipes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear Recetas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Ingredient">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ingredientes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Measure">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Medidas
                    </NavLink>
                </div>
                <li class="nav-item px-3 mt-3">
                    <div class="d-flex gap-1">
                        <a class="btn btn-outline-secondary btn-sm"
                        href="@GetCultureUrl("es")">
                            🇪🇸 ES
                        </a>

                        <a class="btn btn-outline-secondary btn-sm"
                        href="@GetCultureUrl("en")">
                            🇺🇸 EN
                        </a>
                    </div>
                </li>
            </Authorized>
            <NotAuthorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/login">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/register">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <li class="nav-item px-3 mt-3">
                    <div class="d-flex gap-1">
                        <a class="btn btn-outline-secondary btn-sm"
                        href="@GetCultureUrl("es")">
                            🇪🇸 ES
                        </a>

                        <a class="btn btn-outline-secondary btn-sm"
                        href="@GetCultureUrl("en")">
                            🇺🇸 EN
                        </a>
                    </div>
                </li>
                @* <div class="theme-selector">
                    <label style="color:var(--texto-2); margin-left: 4%;">Cambiar Tema</label>
                    <select @onchange="test">
                        @foreach (var theme in themes)
                        {
                            <option value="@theme">@theme</option>
                        }
                    </select>

                    
                </div> *@
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@* 
@code {
    private List<string> themes = new List<string> { "Claro", "Oscuro" };
    private bool themeSelected(string theme) => theme == "Claro";
    [Parameter]
    public EventCallback<bool> notifyThemeChange { get; set; }

    private void ThemeSelectorSelected(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value.ToString());
        notifyThemeChange.InvokeAsync(themeSelected(e.Value.ToString())); 
        notifyThemeChange.InvokeAsync();
    }

    private void test(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value.ToString());
    }

} *@

@code {
    string GetCultureUrl(string culture)
    {
        var currentPath = Navigation.ToBaseRelativePath(Navigation.Uri);

        if (string.IsNullOrEmpty(currentPath))
            currentPath = "/";
        else
            currentPath = "/" + currentPath;

        return $"/set-culture?culture={culture}&redirectUri={Uri.EscapeDataString(currentPath)}";
    }
}
