@page "/recipe-details/{RecipeId:int}"
@using Core.Entities
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Authorization

<h2>@RecipeName</h2>
<div class="formRecipesCreate">
    <form>
        <EditForm Model="@step"> 
            <DataAnnotationsValidator/>
            <label for="">@loading</label>
            <div class="form-group d-flex flex-column">
                @if(updatingStep)
                {
                    <h3>Actualizar Paso</h3>
                }
                else
                {
                    <h3>Crear Paso</h3>
                }
                <label>
                    <span>Nombre</span>
                    <InputText class="form-control" @bind-Value="step.name" />
                    <ValidationMessage For="() => step.name" class="alert alert-danger" id="Alert"/>
                </label>
                <label>
                    <span>Descripci칩n</span>
                    <InputText class="form-control" @bind-Value="step.description" />
                    <ValidationMessage For="() => step.description" class="alert alert-danger" id="Alert" />
                </label>
                <label>
                    <span>Duraci칩n</span>
                    <InputText class="form-control" @bind-Value="step.Duration" />
                    <ValidationMessage For="() => step.Duration" class="alert alert-danger" id="Alert" />
                </label>
                <label>
                    <span>Imagen del Paso </span>
                    <InputFile OnChange="OnImageSelected" />
                </label>
            </div>
        </EditForm> 

    </form>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-right: 10px;">
        @if(updatingStep)
        {
            <button class="btn btn-primary" @onclick=UpdateStep>Guardar</button>
            <button class="btn btn-primary" @onclick=CancelUpdateStep>Cancelar</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick=CreateStep >Crear Paso</button>
        }
        <button class="btn btn-primary" @onclick=ClearStep >Limpiar</button>
    </div>
    <h3>@loading</h3>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Duracion</th>
                <th>URL de la Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var step in steps)
            {
                <tr>
                    <td>@step.Name</td>
                    <td>@step.Duration</td>
                    <td>@step.imageURL</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => FillStep(step.Id)">Modificar</button>
                        <button class="btn btn-danger" @onclick="() => DeleteStep(step.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="formLogin">
    <form>
        <EditForm Model="@ingredientPerRecipe"> 
            <DataAnnotationsValidator/>
            <label for="">@loading</label>
            <div class="form-group d-flex flex-column">
                @if(updatingIngredient)
                {
                    <h3>Actualizar Ingrediente</h3>
                }
                else
                {
                    <h3>A침adir Ingrediente</h3>
                }
                <select name="" id="">
                    @foreach(var ingredient in ingredientsList)
                    {
                        <option value="@ingredient.Id">@ingredient.Name</option>
                    }
                </select>
                <select name="" id="">
            @foreach(var measure in measureList)
                    {
                        <option value="@measure.id">@measure</option>
                    }
                </select>
                <label>
                    <span>Cantidad</span>
                    <InputText class="form-control" @bind-Value="ingredientPerRecipe.amount" />
                    <ValidationMessage For="() => ingredientPerRecipe.amount" class="alert alert-danger" id="Alert"/>
                </label>
            </div>
        </EditForm> 

    </form>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-right: 10px;">
        @if(updatingIngredient)
        {
            <button class="btn btn-primary" @onclick=UpdateIngredient>Guardar</button>
            <button class="btn btn-primary" @onclick=CancelUpdateIngredient>Cancelar</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick=CreatIngredientPerRecipe >A침adir Ingrediente</button>
        }
        <button class="btn btn-primary" @onclick=ClearIngredient >Limpiar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Medida</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in ingredientsPerRecipeList)
            {
                <tr>
                    <td>@ingredient.ingredient</td>
                    <td>@ingredient.unidad</td>
                    <td>@ingredient.amount</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => FillIngredient(ingredient.Id)">Modificar</button>
                        <button class="btn btn-danger" @onclick="() => DeleteIngredient(ingredient.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>