@page "/recipe-details/{RecipeId:int}"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager Navigation

@using Microsoft.AspNetCore.Components.Authorization


<button class="btn btn-primary" @onclick="GoBack">
    @L["Back"]
</button>

<h2>@RecipeName</h2>
<div class="card mb-4 p-3 shadow-sm">
    <form>
        <EditForm Model="@step"> 
            <DataAnnotationsValidator/>
            <label for="">@loading</label>
            <div class="form-group d-flex flex-column">
                @if(updatingStep)
                {
                    <h3>@L["Update step"]</h3>
                }
                else
                {
                    <h3>@L["Create Step"]</h3>
                }
                <label>
                    <span>@L["Name"]</span>
                    <InputText class="form-control" @bind-Value="step.name" />
                    <ValidationMessage For="() => step.name" class="alert alert-danger" id="Alert"/>
                </label>
                <label>
                    <span>@L["Description"]</span>
                    <InputText class="form-control" @bind-Value="step.description" />
                    <ValidationMessage For="() => step.description" class="alert alert-danger" id="Alert" />
                </label>
                <label>
                    <span>@L["Duration"]</span>
                    <InputText class="form-control" @bind-Value="step.Duration" />
                    <ValidationMessage For="() => step.Duration" class="alert alert-danger" id="Alert" />
                </label>
                <label>
                    <span>@L["Image of the step"] </span>
                    <InputFile OnChange="OnImageSelected" />
                </label>
            </div>
        </EditForm> 

    </form>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-right: 10px;">
        @if(updatingStep)
        {
            <button class="btn btn-primary" @onclick=UpdateStep>@L["Save"]</button>
            <button class="btn btn-primary" @onclick=CancelUpdateStep>@L["Cancel"]</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick=CreateStep >@L["Create Step"]</button>
        }
        <button class="btn btn-primary" @onclick=ClearStep >@L["Clean"]</button>
    </div>
    <h3>@loading</h3>
    <table class="table table-striped table-bordered align-middle">
        <thead>
            <tr>
                <th>@L["Name"]</th>
                <th>@L["Duration"]</th>
                <th>@L["Image URL"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var step in steps)
            {
                <tr>
                    <td>@step.Name</td>
                    <td>@step.Duration</td>
                    <td>@step.imageURL</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => FillStep(step.Id)">@L["Edit"]</button>
                        <button class="btn btn-danger" @onclick="() => DeleteStep(step.Id)">@L["Delete"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="card mb-4 p-3 shadow-sm">
    <form>
        <EditForm Model="@ingredientPerRecipe"> 
            <DataAnnotationsValidator/>
            <label for="">@loadingIngredient</label>
            <div class="form-group d-flex flex-column">
                @if(updatingIngredient)
                {
                    <h3>@L["Update Ingredient"]</h3>
                }
                else
                {
                    <h3>@L["Add Ingredient"]</h3>
                }
                <span>@L["Ingredients"]</span>
                <select class="form-select" @bind="@selectedIngredient">
                    <option value="">@L["Select Ingredient"]</option>
                    @foreach(var ingredient in ingredientsList)
                    {
                        <option value="@ingredient.id">@ingredient.name</option>
                    }
                </select>
                <span>@L["Measures"]</span>
                <select class="form-select" @bind="@selectedMeasure">
                    <option value="">@L["Select Measure"]</option>
                    @foreach(var measure in measureList)
                    {
                        <option value="@measure.id">@measure.name</option>
                    }
                </select>
                <label>
                    <span>@L["Quantity"]</span>
                    <InputText class="form-control" @bind-Value="ingredientPerRecipe.amount" />
                    <ValidationMessage For="() => ingredientPerRecipe.amount" class="alert alert-danger" id="Alert"/>
                </label>
            </div>
        </EditForm> 

    </form>
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-right: 10px;">
        @if(updatingIngredient)
        {
            @* <button class="btn btn-primary" @onclick=UpdateIngredient>Guardar</button> *@
            <button class="btn btn-primary" @onclick=CancelUpdateIngredient>@L["Cancel"]</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick=CreatIngredientPerRecipe >@L["Add Ingredient"]</button>
        }
        <button class="btn btn-primary" @onclick=ClearIngredient >@L["Clean"]</button>
    </div>
    <table class="table table-striped table-bordered align-middle">
        <thead>
            <tr>
                <th>@L["Ingredients"]</th>
                <th>@L["Measures"]</th>
                <th>@L["Quantity"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in ingredientsPerRecipeList)
            {
                <tr>
                    <td>@ingredient.ingredient</td>
                    <td>@ingredient.measure</td>
                    <td>@ingredient.amount</td>
                    <td>
                        @* <button class="btn btn-secondary" @onclick="() => FillIngredient(ingredient.Id)">Modificar</button>
                        <button class="btn btn-danger" @onclick="() => DeleteIngredient(ingredient.Id)">Eliminar</button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>