@page "/dashboard"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> L


<h3 style= "text-align: center; font-weight: bold; font-size: 2em; margin-top: 40px;">
    @L["Welcome"]
</h3>

@if (isLoaded && userType == 2)
{
    <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-primary" @onclick="GoToMeasures" disabled="@(!isAuthenticated)">
            @L["Measures"]
        </button>
        <button class="btn btn-primary" @onclick="GoToIngredients" disabled="@(!isAuthenticated)">
            @L["Ingredients"]
        </button>
    </div>
}
else
{
    <button class="btn btn-primary">
            @L["Recipes"]
    </button>
    <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-primary" @onclick="GoToMeasures" disabled="@(!isAuthenticated)">
            @L["Measures"]
        </button>
        <button class="btn btn-primary" @onclick="GoToIngredients" disabled="@(!isAuthenticated)">
            @L["Ingredients"]
        </button>
    </div>
}

@code {
    private bool isAuthenticated = false;
    private bool isLoaded = false;
    private int userType = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();

            var user = authState.User;

            isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
            if (isAuthenticated)
            {
                var userTypeClaim = user.FindFirst("UserTypeID");
                if (userTypeClaim != null && int.TryParse(userTypeClaim.Value, out var parsedType))
                {
                    userType = parsedType;
                }
            }
            isLoaded = true;
            StateHasChanged(); 
        }
    }

    private void GoToMeasures()
    {
        Navigation.NavigateTo("/measure");
    }

    private void GoToIngredients()
    {
        Navigation.NavigateTo("/ingredient");
    }
}
