@page "/ingredient"
@rendermode InteractiveServer
@using Core.Entities
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
@using System.Globalization
@using Microsoft.Extensions.Localization

<button class="btn btn-primary" @onclick="GoBack">
    @L["Back"]
</button>

<h3 style="text-align: center; font-weight: bold; font-size: 2em; margin-top: 40px;">
    @L["Ingredients"]
</h3>


<AuthorizeView>
    <Authorized Context="auth">
        <EditForm Model="currentIngredient" OnValidSubmit="SaveIngredient" FormName="ingredientForm">
            <div class="mb-3">
                <label>@L["Name"]</label>
                <InputText class="form-control" @bind-Value="currentIngredient.Name" />
            </div>

            <div class="mb-3">
                <label>@L["Symbol"]</label>
                <InputText class="form-control" @bind-Value="currentIngredient.Type" />
            </div>

            <button class="btn btn-primary" type="submit">
                @(isEditMode ? L["Update"] : L["Create"])
            </button>

            @if (isEditMode)
            {
                <button class="btn btn-secondary ms-2" type="button" @onclick="CancelEdit">
                    @L["Cancel"]
                </button>
            }
        </EditForm>
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert @(success ? "alert-success" : "alert-danger") mt-2">
                    @message
                </div>
            }
    </Authorized>
</AuthorizeView>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>@L["Name"]</th>
            <th>@L["Type"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ingredients)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Type</td>
                <td>
                    <AuthorizeView Context="auth">
                        <Authorized>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditIngredient(i)">@L["Edit"]</button>
                            <button class="btn btn-danger btn-sm ms-1" @onclick="() => DeleteIngredient(i)">@L["Delete"]</button>
                        </Authorized>
                    </AuthorizeView>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IStringLocalizer L = default!;

    protected override void OnInitialized()
    {
        L = LocalizerFactory.Create(
            "SharedResources",
            typeof(SharedResources).Assembly.GetName().Name!
        );
    }
}
